body{
            background-color: seagreen;
        }

.text{

     color: orange;
     letter-spacing: 3px;
}

       .progressing{
            border: 10px orange solid;
            width: 250px;
            height: 10px;
            border-radius: 15px;
        }



       @keyframes progress{
            0%{width: 0%;}
            25%{width: 50%;}
            50%{width: 75%;}
            75%{width: 85%;}
            100%{width: 100%;}
        }



       .load{
            background-color: white;
            width: 250px;
            height: 10px;
            border-radius: 15px;
            animation: progress 2s ease-in-out;
        }